
<div class='management-window'>


      <%= simple_form_for @caretaker, :class => 'form-expandable', :url => {:controller => "caretakers", :action => "create"} do |f| %>
      <%= f.error_notification %>
      <h3 class="expanderHead"><span class="expanderSign" style="cursor:pointer;">[+]</span> Add Caretaker</h3>
      <div class='expanderContent'>
        <div class="form-inputs">

          <%= render :partial => 'caretakers/form', :locals => {f: f}%>



          <div class="form-actions">
              <%= f.button :submit, 'Create' ,:class => 'btn-primary' %>
          </div>
        </div>
      </div>
  <% end %>
      </div>
