
<div class="inner-page row">
  <div class="col-md-6 social">
    <a href="#contact"><i class="icon-twitter"></i></a>
    <a href="#contact"><i class="icon-github-sign"></i></a>
    <a href="#contact"><i class="icon-facebook-sign"></i></a>
    <a href="#contact"><i class="icon-google-plus-sign"></i></a>
  </div>
  <div class="col-md-6 text-right copyright">
    &copy; 2013 <a href="http://prettystrap.com" title="twitter bootstrap themes">prettystrap.com</a> | all rights
    reserved | <a href="#top" title="Got to top" class="scroll">To top <i class="icon-caret-up"></i></a>
  </div>
</div>